/AFW
/AFW_File_Read.py
/AFW_Flip
/AFW_FOLDERED
/AFW_IMAGES_RAW
/Code
/HELEN
/HELEN_File_Read.py
/HELEN_Flip
/HELEN_FOLDERED
/HELEN_IMAGES_RAW
/IBUG
/IBUG_File_Read.py
/IBUG_Flip
/IBUG_FOLDERED
/IBUG_IMAGES_RAW
/landmarks
/LFPW
/LFPW_Flip
/LFPW_FOLDERED
/LFPW_IMAGES_RAW
/MYPATHS.txt
/YoutubeFace
/YoutubeFace_FOLDERED